openapi: 3.0.3
info:
  title: LMDR External API
  version: 1.0.0
  description: |
    External partner API for LMDR platform capabilities.
    Base route is served through Wix HTTP functions.
servers:
  - url: https://www.lastmiledr.app/_functions/api_gateway
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Safety
  - name: Intelligence
  - name: Operations
  - name: Matching
  - name: Documents
  - name: Engagement
paths:
  /v1/safety/carrier/{dot_number}:
    get:
      tags: [Safety]
      summary: Get FMCSA safety profile by DOT number
      parameters:
        - $ref: '#/components/parameters/DotNumber'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/safety/carriers/batch:
    post:
      tags: [Safety]
      summary: Batch FMCSA safety lookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dot_numbers:
                  type: array
                  items:
                    type: integer
              required: [dot_numbers]
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/safety/csa/{dot_number}:
    get:
      tags: [Safety]
      summary: Get current CSA score snapshot
      parameters:
        - $ref: '#/components/parameters/DotNumber'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v1/safety/csa/{dot_number}/history:
    get:
      tags: [Safety]
      summary: Get CSA score history and trend summary
      parameters:
        - $ref: '#/components/parameters/DotNumber'
        - name: months
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 24
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v1/safety/alerts/subscribe:
    post:
      tags: [Safety]
      summary: Create compliance alert subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dot_numbers:
                  type: array
                  items:
                    type: integer
                alert_types:
                  type: array
                  items:
                    type: string
                webhook_url:
                  type: string
                webhook_secret:
                  type: string
              required: [dot_numbers, webhook_url]
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/safety/alerts/subscriptions:
    get:
      tags: [Safety]
      summary: List active compliance alert subscriptions
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v1/safety/alerts/{subscription_id}:
    delete:
      tags: [Safety]
      summary: Deactivate alert subscription
      parameters:
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/intelligence/carrier/{dot_number}:
    get:
      tags: [Intelligence]
      summary: Get AI-enriched carrier intelligence profile
      description: Starter tier receives basic enrichment projection; Growth+ receives full payload.
      parameters:
        - $ref: '#/components/parameters/DotNumber'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/intelligence/sentiment/{dot_number}:
    get:
      tags: [Intelligence]
      summary: Get social sentiment profile for a carrier
      description: Growth tier and above only.
      parameters:
        - $ref: '#/components/parameters/DotNumber'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/intelligence/market:
    get:
      tags: [Intelligence]
      summary: Get aggregated market intelligence
      parameters:
        - name: region
          in: query
          schema:
            type: string
        - name: freight_type
          in: query
          schema:
            type: string
        - name: operation_type
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/intelligence/carriers/search:
    post:
      tags: [Intelligence]
      summary: Search carriers by intelligence filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntelligenceCarrierSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /v1/parking/search:
    get:
      tags: [Operations]
      summary: Search parking locations by geo radius
      parameters:
        - name: lat
          in: query
          schema:
            type: number
        - name: lng
          in: query
          schema:
            type: number
        - name: radius
          in: query
          schema:
            type: number
        - name: amenities
          in: query
          schema:
            type: string
          description: Comma-delimited amenities filter.
        - name: min_spaces
          in: query
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/parking/location/{id}:
    get:
      tags: [Operations]
      summary: Get parking location detail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/fuel/prices:
    get:
      tags: [Operations]
      summary: Search diesel pricing and card-adjusted prices
      parameters:
        - name: lat
          in: query
          schema:
            type: number
        - name: lng
          in: query
          schema:
            type: number
        - name: radius
          in: query
          schema:
            type: number
        - name: fuel_cards
          in: query
          schema:
            type: string
          description: Comma-delimited list of fuel card types.
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/fuel/plan:
    post:
      tags: [Operations]
      summary: Generate route fuel plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuelPlanRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/fuel/station/{id}:
    get:
      tags: [Operations]
      summary: Get fuel station detail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/matching/drivers/search:
    post:
      tags: [Matching]
      summary: Search matching drivers (Enterprise)
      description: Enterprise tier only. Usage is quota and credit metered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingDriverSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/matching/driver/{driver_id}:
    get:
      tags: [Matching]
      summary: Get driver profile with partner masking rules
      parameters:
        - name: driver_id
          in: path
          required: true
          schema:
            type: string
        - name: carrier_dot
          in: query
          required: true
          schema:
            type: string
        - name: unmask_pii
          in: query
          schema:
            type: boolean
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/matching/carriers:
    post:
      tags: [Matching]
      summary: Get ranked carrier matches for a driver profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingCarrierMatchRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/matching/qualify:
    post:
      tags: [Matching]
      summary: Qualification check against carrier requirements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingQualificationRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/documents/cdl/extract:
    post:
      tags: [Documents]
      summary: Extract CDL fields from document image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/documents/medcert/extract:
    post:
      tags: [Documents]
      summary: Extract Medical Certificate fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentExtractRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/documents/verify:
    post:
      tags: [Documents]
      summary: Verify extracted document payload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentVerifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/documents/batch:
    post:
      tags: [Documents]
      summary: Submit asynchronous document extraction batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentBatchRequest'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/documents/batch/{job_id}:
    get:
      tags: [Documents]
      summary: Get document extraction batch status
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/engagement/user/{user_id}/progress:
    get:
      tags: [Engagement]
      summary: Get partner-scoped user progression
      description: Enterprise tier only. Partner-scoped user mapping is applied internally.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: user_type
          in: query
          schema:
            type: string
            enum: [driver, recruiter]
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/engagement/xp/award:
    post:
      tags: [Engagement]
      summary: Award partner-triggered XP/points
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementAwardRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/engagement/achievements/check:
    post:
      tags: [Engagement]
      summary: Trigger achievement evaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementAchievementCheckRequest'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/engagement/leaderboard:
    get:
      tags: [Engagement]
      summary: Query leaderboard rankings
      parameters:
        - name: type
          in: query
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/engagement/webhooks/subscribe:
    post:
      tags: [Engagement]
      summary: Subscribe to engagement events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementWebhookSubscribeRequest'
      responses:
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
  parameters:
    DotNumber:
      name: dot_number
      in: path
      required: true
      schema:
        type: integer
  schemas:
    MatchingDriverSearchRequest:
      type: object
      properties:
        carrier_dot:
          type: string
        filters:
          type: object
          properties:
            cdl_class:
              type: array
              items:
                type: string
            endorsements_required:
              type: array
              items:
                type: string
            min_experience_years:
              type: integer
            max_distance_miles:
              type: number
          additionalProperties: true
        limit:
          type: integer
          minimum: 1
          maximum: 100
      required: [carrier_dot]
      additionalProperties: true
    MatchingCarrierMatchRequest:
      type: object
      properties:
        driver_profile:
          type: object
          additionalProperties: true
        include_enrichment:
          type: boolean
        limit:
          type: integer
          minimum: 1
          maximum: 50
      required: [driver_profile]
      additionalProperties: true
    MatchingQualificationRequest:
      type: object
      properties:
        driver:
          type: object
          additionalProperties: true
        carrier_requirements:
          type: object
          additionalProperties: true
      required: [driver, carrier_requirements]
      additionalProperties: false
    DocumentExtractRequest:
      type: object
      properties:
        data_url:
          type: string
          description: Data URL with embedded base64 payload.
        base64_data:
          type: string
        mime_type:
          type: string
          enum: [image/jpeg, image/png, application/pdf]
      additionalProperties: true
    DocumentVerifyRequest:
      type: object
      properties:
        extracted_document_id:
          type: string
        extracted_data:
          type: object
          additionalProperties: true
      additionalProperties: true
    DocumentBatchRequest:
      type: object
      properties:
        documents:
          type: array
          minItems: 1
          maxItems: 25
          items:
            $ref: '#/components/schemas/DocumentExtractRequest'
        webhook_callback_url:
          type: string
        webhook_secret:
          type: string
      required: [documents]
      additionalProperties: true
    EngagementAwardRequest:
      type: object
      properties:
        user_id:
          type: string
        user_type:
          type: string
          enum: [driver, recruiter]
        action:
          type: string
        xp_amount:
          type: number
          minimum: 1
        metadata:
          type: object
          additionalProperties: true
      required: [user_id, action, xp_amount]
      additionalProperties: true
    EngagementAchievementCheckRequest:
      type: object
      properties:
        user_id:
          type: string
        user_type:
          type: string
          enum: [driver, recruiter]
        context:
          type: object
          additionalProperties: true
      required: [user_id]
      additionalProperties: true
    EngagementWebhookSubscribeRequest:
      type: object
      properties:
        webhook_url:
          type: string
        event_types:
          type: array
          items:
            type: string
            enum: [engagement.level_up, engagement.achievement_earned, engagement.streak_milestone]
        webhook_secret:
          type: string
      required: [webhook_url]
      additionalProperties: false
    IntelligenceCarrierSearchRequest:
      type: object
      properties:
        filters:
          type: object
          properties:
            sentiment:
              type: string
              enum: [positive, mixed, negative]
            fleet_size_min:
              type: integer
            fleet_size_max:
              type: integer
            safety_rating:
              type: string
          additionalProperties: false
        limit:
          type: integer
          minimum: 1
          maximum: 100
        offset:
          type: integer
          minimum: 0
      required: [filters]
      additionalProperties: false
    FuelPlanRequest:
      type: object
      properties:
        route_points:
          type: array
          minItems: 2
          items:
            type: object
            properties:
              lat:
                type: number
              lng:
                type: number
            required: [lat, lng]
            additionalProperties: false
        fuel_cards:
          type: array
          items:
            type: string
        total_distance_miles:
          type: number
          minimum: 1
        tank_capacity_gallons:
          type: number
          minimum: 1
        current_fuel_gallons:
          type: number
          minimum: 0
        mpg:
          type: number
          minimum: 1
      required: [route_points]
      additionalProperties: true
    Envelope:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        request_id:
          type: string
      required: [data, request_id]
    ErrorEnvelope:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required: [code, message]
        request_id:
          type: string
      required: [error, request_id]
  responses:
    Ok:
      description: Successful request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    Created:
      description: Resource created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Forbidden:
      description: Insufficient tier or product access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    TooManyRequests:
      description: Rate limit or monthly quota exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
